.btn_visita{
    background-color: blue;
    padding: 1rem;
}
a{
    color: white;
    text-decoration: none;
}
.btn_elimina{
    background-color: red;
    color: white;
    padding: 1rem;
    cursor: pointer;
}
.btn_modifica{
    background-color: gray;
    color: white;
    padding: 1rem;
    cursor: pointer;
}
.btn_aggiungi{
    background-color: rgb(220, 245, 235);
    color: rgb(11, 11, 11);
    padding: 1rem;
    cursor: pointer;
    padding: 1rem;
    margin-top: 6rem;
}
.container_btn_aggiungi{
    margin-top: 2rem;
    padding: 1rem;
}
a{
    text-decoration: none !important;
    color: black;
}
ul{
    list-style: none !important;
}
.navbar-nav{
    display: flex !important;
}
.dropdown-menu{
    display: flex !important;
    gap: 1rem !important;
}